@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">О сайте</h1>
    <p>На данном сайте вы можете записать и просмотреть информацию в адресной книге</a>.</p>
    <p>Для просмотра информации перейдите на страницу"Список адресов"<p>
    <p>Для внесения или редактирования информации перейдите на страницу"Редактирование"<p>
</div>
